body {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  line-height: 1;
  background-color: rgba(77, 119, 78);
}

#box {
  margin-top: 50px;
}

.top-box {
  padding: 20px;
}

.time {
  color: #000000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0667d5;
  border: 2px solid rgb(17, 151, 17);
}

.past-color {
  background-color: #d3d3d3;
  color: white;
}

.present-color {
  background-color: #ff6961;
  color: white;
}

.future-color {
  background-color: #00b300;
  color: white;
}

.save {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0667d5;
  color: black;
}

